# Maven build output
target/
*.class

# Maven wrapper folder
.mvn/

# Compiled archives
*.jar
*.war
*.ear

# Logs and environment variables
*.log
.env

# Eclipse & IntelliJ project files
.idea/
*.iml
.classpath
.project
.settings/