# Compiled class files & build artifacts
/target/
/*.jar
/*.war
/*.ear

# Spring Boot & Database temporary files
*.log
*.db

# Eclipse / IntelliJ / NetBeans project metadata
/.apt_generated
/.classpath
/.factorypath
/.project
/.settings
/.springBeans
/.sts4-cache
/bin/
*.iml

# Mac / Windows files
.DS_Store
Thumbs.db