# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.bak
*.log
*.iml

# Ignore nested .git directories (Prevents orange submodule issue)
!/**/.git/