# Dependencies (NEVER push to Git)
node_modules/
.pnpm-store/

# Production build outputs
dist/
dist-isolated/
build/

# Local Environment Variables & Secrets
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor & IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System & Cache
.DS_Store
Thumbs.db
.eslintcache
.vite/